tpu-inference @ git+https://github.com/vllm-project/tpu-inference.git@581c4d49959c30638a3bdcecb981fe83ab85830e
vllm @ git+https://github.com/vllm-project/vllm.git@f6983f01de2bf2e92ab468fa735ebac39cddd670
